solution/Pomodoro/PomodoroGUI/Service References/PomodoroServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/PomodoroDAL" />
  <xs:element name="AddTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PomodoroDAL" minOccurs="0" name="AddTagResult" nillable="true" type="q1:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entryId" type="xs:int" />
        <xs:element minOccurs="0" name="oldDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateEntryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timestamp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tags" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PomodoroDAL" minOccurs="0" name="GetEntriesResult" nillable="true" type="q2:ArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>