solution/Pomodoro/PomodoroGUI/Service References/PomodoroServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PomodoroService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PomodoroDAL" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPomodoroService_AddTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTag" />
  </wsdl:message>
  <wsdl:message name="IPomodoroService_AddTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTagResponse" />
  </wsdl:message>
  <wsdl:message name="IPomodoroService_UpdateEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEntry" />
  </wsdl:message>
  <wsdl:message name="IPomodoroService_UpdateEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IPomodoroService_SaveEntry_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntry" />
  </wsdl:message>
  <wsdl:message name="IPomodoroService_SaveEntry_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveEntryResponse" />
  </wsdl:message>
  <wsdl:message name="IPomodoroService_SaveEntry_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q1:FaultException" />
  </wsdl:message>
  <wsdl:message name="IPomodoroService_GetEntries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEntries" />
  </wsdl:message>
  <wsdl:message name="IPomodoroService_GetEntries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEntriesResponse" />
  </wsdl:message>
  <wsdl:message name="IPomodoroService_GetEntries_FaultExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="detail" element="q2:FaultException" />
  </wsdl:message>
  <wsdl:portType name="IPomodoroService">
    <wsdl:operation name="AddTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IPomodoroService/AddTag" message="tns:IPomodoroService_AddTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPomodoroService/AddTagResponse" message="tns:IPomodoroService_AddTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IPomodoroService/UpdateEntry" message="tns:IPomodoroService_UpdateEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPomodoroService/UpdateEntryResponse" message="tns:IPomodoroService_UpdateEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveEntry">
      <wsdl:input wsaw:Action="http://tempuri.org/IPomodoroService/SaveEntry" message="tns:IPomodoroService_SaveEntry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPomodoroService/SaveEntryResponse" message="tns:IPomodoroService_SaveEntry_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPomodoroService/SaveEntryFaultExceptionFault" name="FaultExceptionFault" message="tns:IPomodoroService_SaveEntry_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEntries">
      <wsdl:input wsaw:Action="http://tempuri.org/IPomodoroService/GetEntries" message="tns:IPomodoroService_GetEntries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPomodoroService/GetEntriesResponse" message="tns:IPomodoroService_GetEntries_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPomodoroService/GetEntriesFaultExceptionFault" name="FaultExceptionFault" message="tns:IPomodoroService_GetEntries_FaultExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPomodoroService" type="tns:IPomodoroService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTag">
      <soap:operation soapAction="http://tempuri.org/IPomodoroService/AddTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEntry">
      <soap:operation soapAction="http://tempuri.org/IPomodoroService/UpdateEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveEntry">
      <soap:operation soapAction="http://tempuri.org/IPomodoroService/SaveEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEntries">
      <soap:operation soapAction="http://tempuri.org/IPomodoroService/GetEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="FaultExceptionFault">
        <soap:fault use="literal" name="FaultExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PomodoroService">
    <wsdl:port name="BasicHttpBinding_IPomodoroService" binding="tns:BasicHttpBinding_IPomodoroService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/PomodoroService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>